@font-face {
	font-family: "PlusJakartaSans";
	src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
		format("truetype-variations");
	font-style: normal;
}

@font-face {
	font-family: "PlusJakartaSans";
	src: url("assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
		format("truetype-variations");
	font-style: italic;
}

:root {
	--clr-lime: hsl(61 70% 52%);

	--clr-slate-900: hsl(202 55% 16%);
	--clr-slate-700: hsl(200 24% 40%);
	--clr-slate-500: hsl(200 26% 54%);
	--clr-slate-300: hsl(203 41% 72%);
	--clr-slate-100: hsl(202 86% 94%);

	--clr-white: hsl(0 0% 100%);

	--clr-red: hsl(4 69% 50%);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-synthesis: none;

	text-rendering: optimizeLegibility;
}

body {
	align-content: center;
	justify-items: center;
	font-family: "PlusJakartaSans", sans-serif;
	line-height: 1.5;
	color: var(--clr-slate-900);
	letter-spacing: 0px;

	background-color: var(--clr-slate-100);
}

main {
	display: grid;
	background-color: var(--clr-white);
	@media (min-width: 768px) {
		max-width: 688px;
		border-radius: 24px;
	}

	@media (min-width: 1440px) {
		grid-template-columns: repeat(2, 1fr);
		max-width: 1008px;
	}
}

section {
	padding-block: 2rem;
	padding-inline: 1.5rem;

	@media (min-width: 768px) {
		padding: 2.5rem;
	}
}

.calculator {
	@media (min-width: 768px) {
		border-top-left-radius: 24px;
		border-top-right-radius: 24px;
	}

	@media (min-width: 1440px) {
		border-top-right-radius: 0;
		border-bottom-left-radius: 24px;
	}
}

.input-form {
	display: grid;
	gap: 1.5rem;
	@media (min-width: 768px) {
		gap: 2.5rem;
	}
}

.input-form__header {
	display: grid;
	gap: 0.5rem;
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.input-form__title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25;
}

.clear-btn {
	all: unset;
	font-weight: 500;
	line-height: 1.5;
	color: var(--clr-slate-700);
	text-decoration: underline;
	text-underline-offset: 0.1875rem;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		color: var(--clr-slate-900);
	}
}

.input-form__content {
	display: grid;
	gap: 1.5rem;

	& > label {
		display: grid;
		gap: 0.75rem;
	}
}

label,
.radio-group__heading {
	font-weight: 500;
	color: var(--clr-slate-700);
}

input {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25;
	color: var(--clr-slate-900);
	cursor: pointer;
}

.input-group {
	display: flex;
	align-items: center;
	height: 48px;
	border: 1px solid var(--clr-slate-500);
	border-radius: 4px;

	&:focus-within {
		border: 1px solid var(--clr-lime);

		& .input-unit {
			color: var(--clr-slate-900);
			background-color: var(--clr-lime);
		}

		& input {
			border-color: var(--clr-lime);
		}
	}
}

.input-group,
.input-group input {
	&:hover {
		border-color: var(--clr-slate-900);
	}
}

.input-left {
	& .input-unit {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	& input {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.input-right {
	& .input-unit {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	& input {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}

.input-unit {
	display: flex;
	align-items: center;
	height: 100%;
	padding-inline: 1rem;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25;
	color: var(--clr-slate-700);
	background-color: var(--clr-slate-100);
}

input[type="number"] {
	width: 100%;
	height: 48px;

	padding-inline: 1rem;
	overflow: visible;
	color: var(--clr-slate-900);

	border: 1px solid var(--clr-slate-500);
	border-inline: none;

	&:focus-visible {
		outline: transparent;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

.grouped {
	display: flex;
	gap: 1.5rem;

	& > label {
		display: grid;
		gap: 0.75rem;
		align-content: start;
	}
}

.radio-group {
	display: grid;
	gap: 0.75rem;

	& > label {
		display: flex;
		gap: 1rem;
		width: 100%;
		padding-block: 0.75rem;
		padding-inline: 1rem;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.25;

		color: var(--clr-slate-900);

		cursor: pointer;
		border: 1px solid var(--clr-slate-500);
		border-radius: 4px;

		&:hover,
		&:focus {
			border-color: var(--clr-lime);
		}
	}
	& input[type="radio"] {
		accent-color: var(--clr-lime);
	}

	& label:has(input[type="radio"]:checked) {
		background-color: hsl(from var(--clr-lime) h s l / 0.15);
		border-color: var(--clr-lime);
	}
}

.input-form__btn {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;

	height: 56px;
	padding-inline: 2.5rem;

	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25;

	cursor: pointer;

	outline: transparent;
	background-color: var(--clr-lime);
	border: none;
	border-radius: 100vw;

	@media (min-width: 768px) {
		width: fit-content;
	}
}

.input-form__btn:hover,
.input-form__btn:focus {
	background-color: hsl(from var(--clr-lime) h s l / 0.5);
}

.error-message {
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--clr-red);
}

label:has(span.error-message) {
	.input-group {
		border-color: var(--clr-red);

		& .input-unit {
			color: var(--clr-white);
			background-color: var(--clr-red);
		}

		& input {
			border-color: var(--clr-red);
		}
	}
}

/* RESULTS  SECTION */

.results {
	display: grid;
	gap: 1.5rem;
	color: var(--clr-white);
	background-color: var(--clr-slate-900);

	&.empty {
		gap: 1rem;
		text-align: center;
	}

	& svg {
		justify-self: center;
	}

	@media (min-width: 768px) {
		border-bottom-right-radius: 24px;
		border-bottom-left-radius: 24px;
	}
	@media (min-width: 1440px) {
		align-content: center;
		border-top-right-radius: 24px;
		border-bottom-left-radius: 80px;
	}
}

.results-header {
	display: grid;
	gap: 1rem;
}

.results__heading {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25;
}

.results__text {
	font-weight: 500;
	color: var(--clr-slate-300);
}

.results-card {
	display: grid;
	gap: 1rem;
	padding-block: 1.5rem;
	padding-inline: 1rem;

	background-color: hsla(0 0% 0% / 0.25);

	border-top: 4px solid var(--clr-lime);
	border-radius: 8px;
}

.result-group {
	display: grid;
	gap: 0.5rem;
}

.result-group__label {
	font-weight: 500;
	color: var(--clr-slate-300);
}

.result__monthly {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: normal;
	color: var(--clr-lime);

	@media (min-width: 768px) {
		font-size: 3.5rem;
		line-height: 1.25;
	}
}

.result__yearly {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25;
}

hr {
	border-color: hsl(203 41% 72% / 0.25);
}
